.back{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url(../img/cropped-1366-768-135673.jpg);
    background-size: cover;
}
.back-2{
    width: 100%;
    height: 100vh;
    background-color:transparent;
    backdrop-filter: blur(60px);
}
