.card canvas{ 
    width: 100% !important;
    height: 30vh !important; /* Hauteur initiale */ /* Pour masquer le débordement du contenu */
  }
.donatT{
    height: 50vh !important;
}
.divF{
    padding-top: 5vh;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hautDr{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}